*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    /* margin: 0; */
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
}

h2{
    font-size: 24px;
    margin-bottom: 5px;
    color: #405F73;
}
h3{
    margin-bottom: 5px;
    color: #405F73;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: "Jura", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}

li {
    background: #eee;
    margin: 4px 0;
    padding: 6px 0;
    border-radius: 4px;
}

/* ------------- */
ul li:nth-child(odd) {
    background-color: #9AACB0;
}

ul li:nth-child(even) {
    background-color: #E3E3E5;
}

ul li:hover{
    background-color: #405F73;
    cursor: pointer;
}

label{
    font-family: "Jura", sans-serif;
    font-weight: 500;
}

input[type="text"] {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 0.5rem;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-top: 4px;
    border-radius: 4px;
    cursor: pointer;
    /* width: 100%; */
    width: calc(100% - 12px);
    transition: background 0.3s;
}


button:hover {
    background-color: #2980b9;
}

.section {
    margin-bottom: 1rem;
    padding: 1px;
}
